<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Đăng nhập / Đăng ký</h1>
        <nav class="d-flex align-items-center loca-nav">
          <a href="../">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
          <a href="" class="cat_name">Đăng ký </a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src="../images/login.jpg" alt="" />
          <div class="hover">
            <h4>Xin cảm ơn vì bạn đã lựa chọn!</h4>
            <p>
              Có một thứ không bao giờ thay đổi, đó chính là sự thay đổi. Sau
              khi đăng ký xong thì nhớ
            </p>
            <a class="primary-btn" href="../user/login">Đăng nhập</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h3>Tạo tài khoản mới</h3>
          <div class="mess text-success"></div>
          <div class="err text-danger"></div>
          <form class="row login_form" action="" method="post">
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                name="name"
                placeholder="Họ và tên"
                autocomplete="off"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                name="email"
                placeholder="email"
                autocomplete="off"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Mật khẩu"
                autocomplete="off"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="password"
                class="form-control"
                name="re-password"
                placeholder="Nhập lại mật khẩu"
                autocomplete="off"
              />
            </div>

            <div class="col-md-12 form-group">
              <div class="primary-btn sub-btn">Đăng ký</div>
              <a href="../user/login">Bạn đã có tài khoản?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module" src="../js/config/site/regis.js"></script>
